.lhead, .lform{
    padding: 1.5rem;
    width: 60%;
}

.email, .password{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;


    label{
        width: 30%;
        height: 1rem;
        padding: 0.6rem;
        text-align: right;
        margin-right: 10px;
    }
    input{
        width: 50%;
        height: 40px;
    }
}