<div class="maincontent">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" *ngIf="!isUserLoggedIn">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Biocatch</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
                <button class="btn login"> <a routerLink="login">Login</a> </button>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 backmenu" id="mainNav" *ngIf="isUserLoggedIn">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" routerLink="/home">Biocatch</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" routerLink="/home">Transactions</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/payment">Make Payment</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/deposit">Deposit</a></li>
                </ul>
                <button id="logout" class="btn login"> <button class="logbtn" (click)="logOut()">LogOut</button> </button>
            </div>
        </div>
    </nav>
      

<router-outlet></router-outlet>


<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Biocatch</div></div>
</footer>

</div>