.login{
    background-color: var(--bs-primary);
    color: var(--bs-white);
    margin-left: 1rem;
    border-radius: 25px;

    a{
        color: var(--bs-white);
        text-decoration: none;
    }
}

.login:hover{
    background-color: rgba(#f4623a, .75);
    color: var(--bs-white);
}

.backmenu {
    background: rgba(#0000, 0.7) !important;
}


.maincontent{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.logbtn{
    background: none;
    border: 0;
    color: white;
}